.note {
    font-size: smaller;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.note + section {
    margin-top: 0;
}

.log .tier,
.log .given,
.log .received {
    text-align: right;
}

.log .mod {
    margin-left: -0.3rem;
    margin-right: 0.15rem;
    font-size: smaller;
    opacity: 0.6;
}

.log .day,
.log .time {
    white-space: nowrap;
}

.log tr:target th,
.log tr:target td,
.log tr:target td a {
    color: green;
}

#total tr.subtotal th,
#total tr.subtotal td {
    color: rgba(0, 0, 0, 0.6);
}


#donations {
    display: block;
}

.labelled-control input.replaced + label {
    display: inline-block;
    padding-right: 0;
}

.labelled-control label {
    display: inline-block;
    transform: translateY(-0.4em);
}

.labelled-control input.replaced + label + label + input.replaced + label {
    margin-left: 0.75em;
}


#donations #show-modifiers + label + label {
    font-style: italic;
    margin-right: 1.5em;
}

#donations #show-modifiers:not(:checked) ~ * .log .mod,
#donations #show-tier:not(:checked) ~ * .log .tier,
#donations #show-given:not(:checked) ~ * .log .given,
#donations #show-received:not(:checked) ~ * .log .received,
#donations #show-date:not(:checked) ~ * .log .date,
#donations #show-txid:not(:checked) ~ * .log .txid {
    display: none;
}


#donations > .tabs ul li {
    display: flex;
    flex-flow: row;
}

#donations > .tabs ul li a {
    flex: none;
}

#donations > .tabs ul li .subsponsor {
    padding-left: 0.25em;
}


#donations_black-brane-systems:target ~ * .log tbody tr:not(.black-brane-systems),
#donations_black-brane-systems_a:target ~ * .log tbody tr:not(.black-brane-systems_a),
#donations_black-brane-systems_b:target ~ * .log tbody tr:not(.black-brane-systems_b),
#donations_pavel-penev:target ~ * .log tbody tr:not(.pavel-penev),
#donations_tor-henrik-hanken:target ~ * .log tbody tr:not(.tor-henrik-hanken),
#donations_matthew-alhonte:target ~ * .log tbody tr:not(.matthew-alhonte),
#donations_dave-cooper:target ~ * .log tbody tr:not(.dave-cooper),
#donations_david-rueda:target ~ * .log tbody tr:not(.david-rueda),
#donations_thomas-bakketun:target ~ * .log tbody tr:not(.thomas-bakketun),
#donations_alexander-artemenko:target ~ * .log tbody tr:not(.alexander-artemenko),
#donations_marcin-kolenda:target ~ * .log tbody tr:not(.marcin-kolenda),
#donations_shukry-zablah:target ~ * .log tbody tr:not(.shukry-zablah) {
    visibility: collapse;
}


#payouts > h1 {
    margin-bottom: 0;
}

#payouts .note {
    margin-top: 1.5em;
}

#payouts #payout-tables {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

#payouts .log caption {
    margin-bottom: 0.15em;
}

#payouts .log caption a {
    color: black;
    text-decoration: none;
}

#payouts .log caption a:hover,
#payouts .log caption a:focus {
    text-decoration: underline;
}

#payouts .log:not(#payouts > .log) {
    margin: 0.5em 1.5em;
}

#payouts > .log {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#payouts .log tbody:first-of-type tr:last-child th,
#payouts .log tbody:first-of-type tr:last-child td {
    border-bottom: none;
}

#payouts .log tbody:last-child tr th,
#payouts .log tbody:last-child tr td {
    border-top: thin solid black;
}
