.note {
    font-size: smaller;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.note + section {
    margin-top: 0;
}

.log .given,
.log .received {
    text-align: right;
}

.log .day,
.log .time {
    white-space: nowrap;
}

.log tr:target th,
.log tr:target td,
.log tr:target td a {
    color: green;
}

#total tr.subtotal th,
#total tr.subtotal td {
    color: rgba(0, 0, 0, 0.6);
}


#global {
    display: block;
}

.labelled-control input.replaced + label {
    display: inline-block;
    padding-right: 0;
}

.labelled-control label {
    display: inline-block;
    transform: translateY(-0.4em);
}

.labelled-control input.replaced + label + label + input.replaced + label {
    margin-left: 0.75em;
}

#global #show-platform:not(:checked) ~ * .log .platform,
#global #show-tier:not(:checked) ~ * .log .tier,
#global #show-given:not(:checked) ~ * .log .given,
#global #show-received:not(:checked) ~ * .log .received,
#global #show-date:not(:checked) ~ * .log .date,
#global #show-notes:not(:checked) ~ * .log .notes,
#global #show-txid:not(:checked) ~ * .log .txid {
    display: none;
}


#global > .tabs ul li {
    display: flex;
    flex-flow: row;
}

#global > .tabs ul li a {
    flex: none;
}

#global > .tabs ul li .subsponsor {
    padding-left: 0.25em;
}


#global_black-brane-systems:target ~ * .log tbody tr:not(.black-brane-systems),
#global_black-brane-systems_a:target ~ * .log tbody tr:not(.black-brane-systems_a),
#global_black-brane-systems_b:target ~ * .log tbody tr:not(.black-brane-systems_b),
#global_marcin-kolenda:target ~ * .log tbody tr:not(.marcin-kolenda) {
    visibility: collapse;
}


#payouts > h1 {
    margin-bottom: 0;
}

#payouts .log {
    margin-top: 0;
}

#payouts .log tbody:first-of-type tr:last-child th,
#payouts .log tbody:first-of-type tr:last-child td {
    border-bottom: none;
}

#payouts .log tbody:last-child tr th,
#payouts .log tbody:last-child tr td {
    border-top: thin solid black;
}
