@media (min-width: 64em) {
    #page-header {
        margin-top: -2em;
    }
}

#monthly-sponsors {
    margin-top: 0;
}

#lifetime-sponsors {
    padding-top: 0;
}

#lifetime-sponsors > h1 + section {
    padding-top: 0;
    margin-top: 0;
}

main .gallery {
    justify-content: flex-start;
    margin-top: -0.75em;
    margin-left: -1em;
}

main .gallery article > h1 {
    opacity: 0.6;
}


main .tags {
    justify-content: flex-start;
    font-size: larger;
}

main .tags .tag {
    opacity: revert;
}

main .tags .tag a:where(:not(:hover)) {
    text-decoration: none;
}


main .tabs .additional {
    opacity: 0.6
}

#footer p {
    display: table;
    margin: 1rem auto;
    font-size: 2em;
    text-align: center;
    line-height: 1.2;
    padding-left: 1.4em;
    padding-right: 1.4em;
    background-image: url("https://global.hexstream.dev/non-free/images/lightning-bolt_shaded.svg"),
                      url("https://global.hexstream.dev/non-free/images/lightning-bolt_shaded.svg");
    background-position: left 0.1em center, right 0.1em center;
    background-size: 1.2em;
}

#footer p a {
    text-decoration: revert;
}
