#page-header + .tabs {
    margin-top: 1.2em;
    margin-bottom: 0;
}

.tabs.additional {
    font-size: smaller;
    margin-top: 1em;
}

@media (min-width: 62.5em) {

    #total .scroll {
        margin-top: -1.5em;
    }

    #total .log {
        margin-top: 0;
    }

}

#donations_black-brane-systems:target ~ * .log tbody tr:not(.black-brane-systems),
#donations_black-brane-systems_a:target ~ * .log tbody tr:not(.black-brane-systems_a),
#donations_black-brane-systems_b:target ~ * .log tbody tr:not(.black-brane-systems_b),
#donations_matt-doughty:target ~ * .log tbody tr:not(.matt-doughty),
#donations_matthew-alhonte:target ~ * .log tbody tr:not(.matthew-alhonte),
#donations_pavel-penev:target ~ * .log tbody tr:not(.pavel-penev),
#donations_tor-henrik-hanken:target ~ * .log tbody tr:not(.tor-henrik-hanken),
#donations_dave-cooper:target ~ * .log tbody tr:not(.dave-cooper),
#donations_anonymous-2:target ~ * .log tbody tr:not(.anonymous-2),
#donations_david-rueda:target ~ * .log tbody tr:not(.david-rueda),
#donations_shukry-zablah:target ~ * .log tbody tr:not(.shukry-zablah),
#donations_thomas-bakketun:target ~ * .log tbody tr:not(.thomas-bakketun),
#donations_alexander-artemenko:target ~ * .log tbody tr:not(.alexander-artemenko),
#donations_marcin-kolenda:target ~ * .log tbody tr:not(.marcin-kolenda) {
    visibility: collapse;
}


#payouts > h1 {
    margin-bottom: 0;
}

#payouts .note {
    margin-top: 1.5em;
}

#payouts #payout-tables {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

#payouts .log caption {
    margin-bottom: 0.15em;
}

#payouts .log caption a {
    color: black;
    text-decoration: none;
}

#payouts .log caption a:is(:hover, :focus) {
    text-decoration: underline;
}

#payouts .log:not(#payouts > .log) {
    margin: 0.5em 1.5em;
}

#payouts > .log {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#payouts .log tbody:first-of-type tr:last-child :is(th, td) {
    border-bottom: none;
}

#payouts .log tbody:last-child tr :is(th, td) {
    border-top: thin solid black;
}
