main {
    margin-bottom: 0;
}

.note:not(.notice) {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
}

.note + section {
    margin-top: 0;
}

.log {
    margin-bottom: 0;
}

.log :is(.tier, .given, .received) {
    text-align: end;
}

.log .mod {
    margin-left: -0.3rem;
    margin-right: 0.15rem;
    font-size: smaller;
    opacity: 0.6;
}

.log :is(.day, .time) {
    white-space: nowrap;
}

.log :target :is(th, td),
.log :target td a {
    color: green;
}

#total tr.subtotal :is(th, td) {
    color: rgba(0, 0, 0, 0.6);
}


#donations #show-modifiers + * > label:first-of-type + label {
    font-style: italic;
    margin-right: 1.5em;
}


#total #show-subtotals:not(:checked) ~ * .log .subtotal,
#donations #show-modifiers:not(:checked) ~ * .log .mod,
#donations #show-platform:not(:checked) ~ * .log .platform,
#donations #show-tier:not(:checked) ~ * .log .tier,
#donations #show-given:not(:checked) ~ * .log .given,
#donations #show-received:not(:checked) ~ * .log .received,
#donations #show-date:not(:checked) ~ * .log .date,
#donations #show-txid:not(:checked) ~ * .log .txid {
    display: none;
}


#donations > .tabs ul li {
    display: flex;
    flex-flow: row;
}

#donations > .tabs ul li a {
    flex: none;
}

#donations > .tabs ul li .subsponsor {
    padding-left: 0.25em;
}
